<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZPI EVENTS PAGE</title>
    <style type="text/css">
        div#map_container {
            width: 50%;
            height: 350px;
        }
    </style>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!--<script type="text/javascript" src="../js/map_loader.js"></script>-->
    <link
            href="../css/angular-bootstrap.css"
            rel="stylesheet"/>
    <script src="../js/angular-bootstrap.js" type="text/javascript"></script>

    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="myApp" ng-cloak class="ng-cloak">
<div class="container">
    <div class="row">
        <h2>Available events</h2>
        Search: <input type="text" id="selectorId" ng-model="query" value="">
        <br>
    </div>
    <br><br>
    <div class="row">
        <div ng-controller="EventsController as eventsCtrl" class="panel-group col-md-4">
            <input type="checkbox" checked id="show-mine"><br/>
            <input type="checkbox" checked id="show-others"><br/>
            <input ng-repeat="c in categories | categoryFormatter" type="checkbox" checked data-on="{{c}}"
                   on-finish-render="ngRepeatFinished"><br/><br/>
            <div id="{{event.id}}" ng-repeat="event in events | eventsFilter: { search:query} ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div data-toggle="collapse" data-target="#collapse{{$index}}">
                                <p>{{event.title}}</p>
                                <p>{{event.category}}</p>
                                <p>{{event.startTime}}</p>
                            </div>
                        </h4>
                    </div>
                    <div id="collapse{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Min participants: {{event.minParticipants}}</p>
                            <p>Max participants: {{event.maxParticipants}}</p>
                            <p>Lat: {{event.place.geoLatitude}}</p>
                            <p>Long: {{event.place.geoLongitude}}</p>
                            <button class="btn btn-info pull-right" ng-click="eventsCtrl.editEvent(event)">Edit</button>
                            <button class="btn btn-info pull-right" ng-click="eventsCtrl.deleteEvent(event)">Delete Event</button>
                        </div>
                        <div class="panel-body" ng-show="editing">
                            <form name="updateEvent" ng-submit="eventsCtrl.onClick(event.id, updateEvent.event)">
                                <div class="form-group">

                                </div>
                                Title:<br>
                                <input type="text" name="title" class="form-control"
                                       ng-init="updateEvent.event.title=event.title" ng-model="updateEvent.event.title"><br>

                                <div class="form-group">
                                    Category:<br>
                                    <input type="category" ng-init="updateEvent.event.category=event.category" name="category" ng-model="updateEvent.event.category"><br>
                                </div>
                                <div class="form-group">
                                    Start time:<br>
                                    <input type="date" ng-init="updateEvent.event.startTime=event.startTime" name="startTime" class="form-control"
                                           ng-model="updateEvent.event.startTime"><br>
                                </div>

                                <div class="form-group">
                                    Min participants:<br>
                                    <input type="input" name="minParticipants" ng-init="updateEvent.event.minParticipants=event.minParticipants" ng-model="updateEvent.event.minParticipants"><br>
                                </div>
                                <div class="form-group">
                                    Max participants:<br>
                                    <input type="input" name="maxParticipants" ng-init="updateEvent.event.maxParticipants=event.maxParticipants" ng-model="updateEvent.event.maxParticipants"><br>
                                </div>
                                <!--<div class="form-group">-->

                                    <input type="hidden" name="geoLongitude" id="geoLongitude" class="form-control"
                                           ng-model="updateEvent.event.place.geoLongitude"><br>
                                    <input type="hidden" name="geoLatitude" id="geoLatitude" class="form-control"
                                           ng-model="updateEvent.event.place.geoLatitude"><br>
                                <!--</div>-->

                                <input type="submit" value="Submit" class="btn">
                                <button ng-click="eventsCtrl.cancelEditing(event)" class="btn">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="map_container" class="col-md-8"></div>
    </div>

</div>
<div ng-view class="container"></div>
<script type="text/javascript" src="../js/events.js"></script>
</body>
</html>