<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZPI EVENT</title>
    <link
            href="/css/angular-bootstrap.css"
            rel="stylesheet"/>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/js/angular-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/event.js"></script>
    <script type="text/javascript" src="../js/map_loader.js"></script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
        .container-form{
            width: 60%;
        }
        div#map_container {
            width: 50%;
            height: 350px;
        }
    </style>
</head>
<body ng-cloak ng-app="myApp" onload="loadMap()">

<div ng-controller="CreateEventController as eventCtrl" class="container">
    <h2>New Event</h2>
    <form name="createEventForm" ng-submit="eventCtrl.onClick(createEventForm.event)">

        <div class="row">
            <div class="col-md-4 form-group">
                Title:<br>
                <input type="text" name="title" class="form-control" ng-model="createEventForm.event.title"><br>
                Start Time:<br>
                <input type="datetime-local" name="startTime" class="form-control" ng-model="createEventForm.event.startTime"><br>
                Maximum number of participants:<br>
                <input type="text" name="maxParticipants" class="form-control" ng-model="createEventForm.event.maxParticipants"><br>
                Minimum number of participants:<br>
                <input type="text" name="minParticipants" class="form-control" ng-model="createEventForm.event.minParticipants"><br>
                GeoLongitude:<br>
                <input type="text" name="geoLongitude" id="geoLongitude" class="form-control"
                       ng-model="createEventForm.event.address.geoLongitude"><br>
                GeoLatitude:<br>
                <input type="text" name="geoLatitude" id="geoLatitude" class="form-control"
                       ng-model="createEventForm.event.address.geoLatitude"><br>
                <input type="submit" value="Submit" class="btn">
            </div>
            <div class="col-md-8" id="map_container"></div>
        </div>
    </form>
</div>

</body>
</html>