<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ZPI 2016</title>
    <style type="text/css">
        div#map_container {
            width: 50%;
            height: 350px;
        }
    </style>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="../js/map_loader.js"></script>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <script type="text/css" src="../bootstrap/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/jquery-2.2.3.min.js"></script>
    <!--<link
            href="css/angular-bootstrap.css"
            rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>-->
</head>
<body ng-cloak class="ng-cloak" onload="loadMap()">
<h1>
    Hello, handsome :)
</h1>
<h4>
    Deployed again from CircleCI
</h4>
<button ng-click="login=false" value="Register">REGISTER</button>&nbsp;&nbsp;&nbsp;
<button ng-click="login=true" value="Login">LOGIN</button><br><br><br>
<div class="container" ng-controller="FormController as formCtrl" ng-show="!login">
    <form name="indexForm" ng-submit="formCtrl.onClick(indexForm.user)" role="form">
        <div class="form-group">

        </div>
            Username:<br>
        <input type="text" name="username" class="form-control" ng-model="indexForm.user.username"><br>
        <div class="form-group">
            Password:<br>
            <input type="password" name="password" ng-model="indexForm.user.password"><br>
        </div>
        <div class="form-group">
            Email:<br>
            <input type="email" name="email" class="form-control" ng-model="indexForm.user.email"><br>
        </div>
        <div class="form-group">
            DOB:<br>
            <input type="date" name="dob" ng-model="indexForm.user.dob"><br>
        </div>
        <div class="form-group">
            Choose your home location:<br>
            <div id="map_container"></div>
            <input type="hidden" name="geoLongitude" id="geoLongitude" class="form-control" ng-init="indexForm.user.address.geoLongitude ='51.467'" ng-model="indexForm.user.address.geoLongitude"><br>
            <input type="hidden" name="geoLatitude" id="geoLatitude" class="form-control" ng-init="indexForm.user.address.geoLatitude ='51.467'" ng-model="indexForm.user.address.geoLatitude"><br>
        </div>

        <input type="submit" value="Submit" class="btn">
    </form>


</div>

<div ng-controller="LoginController as loginCtrl" ng-show="login">
    <form name="loginForm" ng-submit="loginCtrl.onClick(loginForm.user)">
        Login:<br>
        <input type="text" name="username" ng-model="loginCtrl.user.username"><br>
        Password:<br>
        <input type="password" name="password" ng-model="loginCtrl.user.password"><br>
        <input type="submit" value="Submit">
    </form>

</div>

</body>
</html>