<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ZPI 2016</title>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
<button ng-click="login=false" value="Register">REGISTER</button>&nbsp;&nbsp;&nbsp;
<button ng-click="login=true" value="Login">LOGIN</button><br><br><br>
<div ng-controller="FormController as formCtrl" ng-show="!login">
    <form name="indexForm" ng-submit="formCtrl.onClick(indexForm.user)">
        Username:<br>
        <input type="text" name="username" ng-model="indexForm.user.username"><br>
        Password:<br>
        <input type="password" name="password" ng-model="indexForm.user.password"><br>
        Email:<br>
        <input type="email" name="email" ng-model="indexForm.user.email"><br>
        geoLongitude:<br>
        <input type="text" name="geoLongitude" ng-model="indexForm.user.address.geoLongitude"><br>
        geoLatitude:<br>
        <input type="text" name="geoLatitude" ng-model="indexForm.user.address.geoLatitude"><br>
        DOB:<br>
        <input type="date" name="dob" ng-model="indexForm.user.dob"><br>
        <input type="submit" value="Submit">
    </form>

</div>

<div ng-controller="LoginController as loginCtrl" ng-show="!login">
    <form name="loginForm" ng-submit="loginCtrl.onClick(loginForm.user)">
        Login:<br>
        <input type="text" name="username" ng-model="loginForm.user.username"><br>
        Password:<br>
        <input type="password" name="password" ng-model="loginForm.user.password"><br>
        <input type="submit" value="Submit">
    </form>

</div>

</body>
</html>