<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ZPI 2016</title>

    <link
            href="css/angular-bootstrap.css"
            rel="stylesheet"/>
    <script src="js/angular-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
        .container-form{
            width: 30%;
        }
        .img-user-icon{
            height: 50px;
        }
    </style>
</head>
<body ng-app="myApp" ng-cloak class="ng-cloak">
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
            <button ng-click="login=false" value="Register" class="btn btn-default navbar-btn navbar-left">REGISTER</button>
            <button ng-click="login=true" value="Login" class="btn btn-default navbar-btn navbar-left">LOGIN</button>
            <div class="navbar-right dropdown">
                <button class="btn btn-default dropdown-toggle"  type="button" data-toggle="dropdown">
                    <img alt="User's photo" src="/html/smerfetka.jpg"  class="img-user-icon">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br><br><br>
    <div class="row">
        <div class="container container-form" ng-controller="FormController as formCtrl" ng-show="!login">
            <h3>Register</h3>
            <form name="indexForm" ng-submit="formCtrl.onClick(indexForm.user)" role="form">
                <div class="form-group">
                    Username:<br>
                    <input type="text" name="username" class="form-control" ng-model="indexForm.user.username"><br>
                    Password:<br>
                    <input type="password" name="password" class="form-control" ng-model="indexForm.user.password"><br>
                    Email:<br>
                    <input type="email" name="email" class="form-control" ng-model="indexForm.user.email"><br>
                    geoLongitude:<br>
                    <input type="text" name="geoLongitude" class="form-control"
                           ng-model="indexForm.user.address.geoLongitude"><br>
                    geoLatitude:<br>
                    <input type="text" name="geoLatitude" class="form-control"
                           ng-model="indexForm.user.address.geoLatitude"><br>
                    DOB:<br>
                    <input type="date" name="dob" ng-model="indexForm.user.dob"><br>
                </div>

                <input type="submit" value="Submit" class="btn btn-default">
            </form>


        </div>

        <div ng-controller="LoginController as loginCtrl" ng-show="login" class="container container-form">
            <h3>Login</h3>
            <form name="loginForm" ng-submit="loginCtrl.onClick(loginForm.user)">
                <div class="form-group">
                    Login:<br>
                    <input class="form-control" type="text" name="username" ng-model="loginCtrl.user.username"><br>
                    Password:<br>
                    <input class="form-control" type="password" name="password" ng-model="loginCtrl.user.password"><br>
                </div>
                <input type="submit" value="Submit" class="btn btn-default">
            </form>

</div>

</body>
</html>