body {
    background: url('../img/home_background.jpg') no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#form-holder{
    margin: 2em 0 0 5em;
    border-radius: 25px;
    padding: 2em;
    background-color: rgba(15, 15, 84, 0.7);
    color: whitesmoke;
}

.nav{
    padding-bottom: 1em;
}
div#map_container {
    width: 50%;
    height: 350px;
}


