body {
    background: url('../img/home_background.jpg') no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#form-holder{
    margin: 5em 0 0 5em;
    border-radius: 25px;
    padding: 2em;
    background-color: rgba(15, 15, 84, 0.7);
    color: whitesmoke;
}

.nav{
    padding-bottom: 1em;
}
div#map_container {
    width: 50%;
    height: 350px;
}

#map_container {
    width: 50%;
    height: 350px;
}

[id^="form_map_container"] {
    width: 40%;
    height: 550px;
    margin-left: 5%;
}

#register_map_container {
    width: 60%;
    height: 480px;
    margin-left: 5%;
    border: thick solid #0f0f54;
}

.navbar{
    height: 2em;
    background: #11115f;
    border-bottom: thin solid rgba(255, 255, 255, 0.51);
}

.nav-toggle{
    background: rgba(255, 255, 255, 0.27);
    width: 4em;
    margin-right: 15%!important;
    margin-bottom: 0!important;
}

.btn-collapse{
    background: rgba(255, 255, 255, 0.27);
    color: white;
    border: thin solid white;
}

.event-collapse{
    background: #11115f;
}

.map-bordered{
    margin-left: 5%;
    border: thick solid #0f0f54;
    position: fixed;
}

.panel-title-col{
    margin-right: 0;

}

input[type="checkbox"].show-events-toggle  {
    color: #11115f;
}

.font-category{
    color: #11115f;
    font-size: medium;
}

.font-time{
    color: #008cb4;
    font-size: medium;
}

.font-title{
    color: #11115f;
    font-size: medium;
    font-weight: 600;
}